.container{
 margin-bottom: 100px;
}
.Orange-Bg{
    background-color:#fceae8;
    height: 500px;
    border-radius: 10px;
}
.Orange-Bg1{
    background-color:#fceae8;
    height: 300px;
    border-radius: 10px;
}



.carousel-item{

    padding:20px 40px;
}
.Price{
    color: #FF136F;
}
.buy-Now{
 background-image: linear-gradient(to bottom ,#FF589B 0%,#FF136F 100%);
 color: #fff;
 border: none;
 border-radius: 10px;
 padding: 10px 25px;
 cursor: pointer;
}
.cat1{
    background-color: orange;
    padding: 10px 30px;
    border-radius: 10px;
}
.cat2{
    background-color: purple;
    padding: 10px 30px;
    border-radius: 10px;
}
.cat3{
    background-color: navy;
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: oldlace;
}
.categories img {
    width: 100px;
}
.cardx{
    border: none;
    box-shadow:5px 5px 30px ;
}  
.card{
    border: none;
    box-shadow:5px 5px 10px ;
}  

.card-footer{
    background-color: white;
    border-top: none;
}
footer{
text-align: center;

}